{% load static %}
<header id="header"><!--header-->
		<div class="header_top"><!--header_top-->
			<div class="container">
				<div class="row">
					<div class="col-sm-6">
						<div class="contactinfo">
							<ul class="nav nav-pills">
								<li><a href="#"><i class="fa fa-phone"></i> +90 55555555</a></li>
								<li><a href="#"><i class="fa fa-envelope"></i> ekiralık@domain.com</a></li>
							</ul>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="social-icons pull-right">
							<ul class="nav navbar-nav">
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-linkedin"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!--login logout yeri******************************<img src="{{UserProfile.image}}"  height="42" width="42">-->
                <div class="col-sm-8">
                    {% if user.id is not None %}
                        <div class="shop-menu pull-right">
                        <ul class="nav navbar-nav">
                        <li><a href="/user"><i class="fa fa-user"></i> {{user.first_name}} </a></li>

                        <ul class="nav navbar-nav">
                        <li><a href="/user">MY ACCOUNT</a></li>
                        <li><a href="/logout/"><i class="fa fa-lock"></i>Logout</a></li>
                    </ul>

                    {% else %}
                        <li class="pull-right"><a href="/login/" class="text" style="color: #FE980F">LOGIN / </a> <a href="/signup/" class="text" style="color: #FE980F">SIGN UP</a></li>
                    {% endif %}
                    </ul>


                    </div>
                </div>
            <!--login logout  yeri***************************************-->

		</div><!--/header_top-->

		<div class="header-middle"><!--header-middle-->
			<div class="container">
				<div class="row">
					<div class="col-md-4 clearfix">
						<div class="logo pull-left">
							<a href="/"><img src="{% static 'images/home/logott.png'%}" width="300" height="100" alt="logo" /></a>
						</div>
						
						</div>
					</div>

					<div class="col-md-8 clearfix">
						<div class="shop-menu clearfix pull-right">
							<ul class="nav navbar-nav">
								<!--
								<li><a href=""><i class="fa fa-user"></i> Account</a></li>
								<li><a href=""><i class="fa fa-star"></i> Wishlist</a></li>
								<li><a href="checkout.html"><i class="fa fa-crosshairs"></i> Checkout</a></li>
								<li><a href="cart.html"><i class="fa fa-shopping-cart"></i> Cart</a></li>
								<li><a href="login.html"><i class="fa fa-lock"></i> Login</a></li>
								-->
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!--/header-middle-->

		<div class="header-bottom"><!--header-bottom-->
			<div class="container">
				<div class="row">
					<div class="col-sm-9">
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
						</div>
						<div class="mainmenu pull-left">
							<ul class="nav navbar-nav collapse navbar-collapse">
								<li><a href="/" class="active">Ana sayfa</a></li>
								<!--
								<li class="dropdown"><a href="#">Shop<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="shop.html">Products</a></li>
										<li><a href="product-details.html">Product Details</a></li>
										<li><a href="checkout.html">Checkout</a></li>
										<li><a href="cart.html">Cart</a></li>
										<li><a href="login.html">Login</a></li>
                                    </ul>
                                </li>
                                -->
								<!--
								<li class="dropdown"><a href="#">Blog<i class="fa fa-angle-down"></i></a>
                                    <ul role="menu" class="sub-menu">
                                        <li><a href="blog.html">Blog List</a></li>
										<li><a href="blog-single.html">Blog Single</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">404</a></li>
                                -->

								<li><a href="/hakkimizda">Hakkımızda</a></li>
								<li><a href="/referanslar">Referanslar</a></li>
								<li><a href="/iletisim">İletişim</a></li>
								<li><a href="/sss">SSS</a></li>
							</ul>
						</div>
					</div>
	<script>
        $(function() {
            $("#query").autocomplete({
                source: "/search_auto/",
                select: function (event, ui) { //item selected
                    AutoCompleteSelectHandler(event, ui)
                },
                minLength: 2,
            });
        });

        function AutoCompleteSelectHandler(event, ui)
        {
            var selectedObj = ui.item;
        }
    </script>
					<!--
					<div class="header-search">
				<form action="/search/" method="post">
					{% csrf_token %}
					<input id="query" name="query" class="input search-input" type="text" placeholder="giriniz">
					<button class="search-btn"><i class="fa fa-search"></i></button>
				</form>
			</div>-->

				<div class="col-sm-3">
                    <div class="header-search">
                        <form action="/search/" method="post">
                            {% csrf_token %}

                            <input id="query" name="query" class="input search-input" type="text" placeholder="Enter your keyword"/>


                            {% load mptt_tags %}
                            <select name="catid" class="input search-categories">
                                <option value="0">All Categories</option>
                                {% recursetree category %}
                                    {% if node.is_leaf_node %}
								<option value="{{ node.id }}">{{ node.title }}</option>
								{% endif %}
                                    {% if not node.is_leaf_node %}
                                        <optgroup label="{{ node.title }}">
                                            {{ children }}
                                        </optgroup>
                                    {% endif %}
                                {% endrecursetree %}

                            </select>
                           <button class="search-btn"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>





				</div>
			</div>
		</div><!--/header-bottom-->
	</header><!--/header-->