{% extends "homebase.html" %}

{% block title %} {{product.title}} {% endblock %}
{% block keywords %} {{product.keywords}} {% endblock %}
{% block description %} {{product.description}} {% endblock %}

{% block head %}
   <link rel ='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}



{% block maincontent %}

<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Aramaya Buradan Başlayın</h2>
						<!--category-productsr-->
						<div class="panel-group category-products" id="accordian">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#sportswear">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Category
										</a>
									</h4>
								</div>
								<div id="sportswear" class="panel-collapse collapse">
									<div class="panel-body">

										{% load mptt_tags %}
								<ul>
									{% recursetree category %}
										<li>
											<a href="/category/{{node.id}}/{{node.slug}}">{{ node.title }} </a>

											{% if not node.is_leaf_node %}
												<ul class="children">
													<li><a href="/category/{{node.id}}/{{node.slug}}">{{ children }} </a></li>

												</ul>
											{% endif %}
										</li>
									{% endrecursetree %}
								</ul>

									</div>
								</div>
							</div>

<!--
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#womens">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											Womens
										</a>
									</h4>
								</div>
								<div id="womens" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											<li><a href="#">Fendi</a></li>
											<li><a href="#">Guess</a></li>
											<li><a href="#">Valentino</a></li>
											<li><a href="#">Dior</a></li>
											<li><a href="#">Versace</a></li>
										</ul>
									</div>
								</div>
							</div>
							-->
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#"></a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#"></a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#"></a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#"></a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#"></a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#"></a></h4>
								</div>
							</div>
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title"><a href="#"></a></h4>
								</div>
							</div>
						</div>
						<!--/category-products-->
						{% load static %}
						<div class="shipping text-center"><!--shipping-->
						<img src="{% static 'images/home/shippinggg.jpg'%}" alt="" />
					</div><!--/shipping-->

					</div>
				</div>
				<h3>{{product.title}}</h3>

				<div class="col-sm-9 padding-right">
					<div class="product-details"><!--product-details-->
						<div class="col-sm-5">
							<div class="view-product">
								<a href="{{product.image.url}}"><img src="{{product.image.url}}" alt=""/></a>

							</div>
							<div id="similar-product" class="carousel slide" data-ride="carousel">

								  <!-- Wrapper for slides -->
								    <div class="carousel-inner">
										<div class="item active">
										  <a href="{{product.image.url}}"><img src="{{product.image.url}}" style="Height:50px" alt=""></a>

											{% for rs in images %}
										  <a href="{{rs.image.url}}"><img src="{{rs.image.url}}" style="Height:50px" alt=""></a>
											{% endfor %}

										</div>
										

									</div>

								  <!-- Controls -->
								  <a class="left item-control" href="#similar-product" data-slide="prev">
									<i class="fa fa-angle-left"></i>
								  </a>
								  <a class="right item-control" href="#similar-product" data-slide="next">
									<i class="fa fa-angle-right"></i>
								  </a>
							</div>

						</div>
						<div class="col-sm-7">
							<div class="product-information"><!--/product-information-->
								<img src="" class="newarrival" alt="" />
								<h2>{{product.title}}</h2>
								<h3>{{product.description}}</h3>
								<h3>{{product.ili}}</h3>
								<p>Web ID: 1089772</p>
								<img src="images/product-details/rating.png" alt="" />
								<span>
									<span>{{product.price}}</span>
								</span>
								<p></p>

								<a href=""><img src="images/product-details/share.png" class="share img-responsive"  alt="" /></a>
							</div><!--/product-information-->
						</div>
					</div><!--/product-details-->

					<div class="category-tab shop-details-tab"><!--category-tab-->
						<div class="col-sm-12">
							<ul class="nav nav-tabs">
								<li><a href="#details" data-toggle="tab">Details</a></li>
							</ul>
						</div>
						{{product.detail | safe}}
					</div><!--/category-tab-->

					<!-- yorum kısmı -->
					<div class="tab-pane fade active in" id="reviews" >
								<div class="col-sm-12">
									{% if messages %}
									     {% for message in messages %}
									         <div class="alert alert-{{message.tags}}" role="alert">
												 {{ message }}
											 </div>
									     {% endfor %}
									{% endif %}
									
									<p><b>YORUMLAR/YORUMLARINIZ BİZİM İÇİN DEĞERLİ TEŞEKKÜRLER</b></p>

									<form action="/product/addcomment/{{ product.id }}" method="post">
										{% csrf_token %}
										<span>
											<input required class="input" type="text" name="subject" id="id_subject" placeholder="Başlık"/>
										</span>
										<textarea required class="input" id="id_comment" name="comment" placeholder="YORUMUNUZ" ></textarea>

										{% if user.id is not None %}
										<button class="primary-btn">
											Yorum gönder
										</button>
										{% else %}
										yorum eklemek için üye olunuz
										{% endif %}
									</form>
									<br>
									<br>
								</div>
							</div>
					<!-- yorum kısmı -->
					<!--yorum gösterme kısmı-->

					<h3>Yapılan Yorumlar</h3>
					{% for rs in comments %}
                                <div>

                                    <ul>
                                        <li><a href=""><i class="fa fa-user"></i>kullanıcı-{{rs.user.first_name}}</a></li>
                                        <li><a href=""><i class="fa fa-calendar-o"></i>{{ rs.create_at }}</a></li>
                                         <!--
                                        <i class="fa fa-star{% if rs.rate < 1 %}-o empty{% endif %}"></i>
                                        <i class="fa fa-star{% if rs.rate < 2 %}-o empty{% endif %}"></i>
                                        <i class="fa fa-star{% if rs.rate < 3 %}-o empty{% endif %}"></i>
                                        <i class="fa fa-star{% if rs.rate < 4 %}-o empty{% endif %}"></i>
                                        <i class="fa fa-star{% if rs.rate < 5 %}-o empty{% endif %}"></i>
                                         -->
                                    </ul>
                                    <div>
                                        <h4>{{ rs.subject }}</h4>
                                        <p>{{ rs.comment | safe}}</p>
                                    </div>
                                    <hr>
                                </div>
                                <br>
                            {% endfor %}
                 <!--yorum gösterme kısmı-->


				</div>
			</div>
</div>




{% endblock %}