{% load static %}
<section id="slider"><!--slider-->
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div id="slider-carousel" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">

							<li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
							<li data-target="#slider-carousel" data-slide-to="1"></li>
							<li data-target="#slider-carousel" data-slide-to="2"></li>
							<li data-target="#slider-carousel" data-slide-to="3"></li>
							<li data-target="#slider-carousel" data-slide-to="4"></li>

						</ol>

						<div class="carousel-inner">
							<!--banner	-->


							{% for rs in sliderdata %}
							{% if rs.id == sliderone %}
							<div class="item active">
								<div class="col-sm-6">
									<h1><span>E</span>-kiralık</h1>
									<!--<h2>{{ rs.title }}</h2>-->
									<strong><h5> {{rs.description}} </h5></strong>

									<a href="/product/{{rs.id}}/{{rs.slug}}">SAYFASINA GİT</a>
								</div>
								<div class="col-sm-6">
									<img src="{{ rs.image.url }}" class="girl img-responsive" alt="" />
									<img src="{% static 'images/home/pricing.png'%}"  class="pricing" alt="" />
								</div>
							</div>

							{%else%}
                           <div class="item">
								<div class="col-sm-6">
									<h1><span>E</span>-kiralık</h1>
									<h2>{{rs.title}}</h2>
									<p> {{rs.description}}</p>
									<a href="/product/{{rs.id}}/{{rs.slug}}">SAYFASINA GİT</a>
								<!--	<button type="button" class="btn btn-default get">Get it now</button>	-->
								</div>
								<div class="col-sm-6">
									<img src="{{rs.image.url}}" class="girl img-responsive " alt="" />
									<img src="images/home/pricing.png" class="pricing" alt="" />
								</div>
							</div>
							{%endif%}
						{% endfor %}

						</div>

						<a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
							<i class="fa fa-angle-left"></i>
						</a>
						<a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
							<i class="fa fa-angle-right"></i>
						</a>
					</div>

				</div>
			</div>
		</div>
	</section><!--/slider-->