{% extends "homebase.html" %}

{% block title %}{{profile.user_name}} Profile{% endblock %}
{% block keywords %}{{setting.keywords}}{% endblock %}
{% block description %}{{setting.description}}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}



{% block maincontent %}
    <div id="contact-page" class="container">
        <div class="bg">
            <div class="row">
                <div class="col-sm-3">

                    <div class="contact-form">

                        <div class="status alert alert-success" style="display: none"></div>

                        {% include "user_panel.html" %}

                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="contact-info">
                        <h2 class="title text-center">Change Password</h2>
                    </div>
                    {% if messages %}
                        {% for message in messages %}
                            <div style="color: #d43f3a; font-size: medium">
                                {{ message|safe }}
                            </div>
                        {% endfor %}
                    {% endif %}

                    <div class="content-section">

                        <form method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                <p>

                                    {{ field.label_tag }}<br>

                                    {{ field }}

                                    {% if field.help_text %}
                                        <small style="color: grey">{{ field.help_text }}</small>
                                    {% endif %}
                                    {% for error in field.errors %}
                                        <p style="">{{ error }}</p>
                                    {% endfor %}

                                </p>
                            {% endfor %}
                            <button class="btn btn-primary" type="submit">Save changes</button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}