<div class="contact-info">

    <h2 class="title text-center">User Panel</h2>

    <div class="panel-body">
        <ul class="text-left">
            <li><a href="/user">Kullanıcı Profili </a></li>
            <li><a href="/user/myhomes">Yüklediklerim </a></li>
            <li><a href="/user/comments">Yorumlarım </a></li>
            <li><a href="/product/">Kiralık Ev Ekle</a></li> <!--#bu direk producta gidiyo onun indexine-->
            <li><a href="/logout">Çıkış </a></li>
        </ul>
    </div>
</div>
