{% extends "homebase.html" %}

{% block title %}{{profile.user_name}} Profile{% endblock %}
{% block keywords %}{% endblock %}
{% block description %}{% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{setting.icon.url}}' />
{% endblock %}


{% block maincontent %}
<div id="contact-page" class="container">
    <div class="bg">
        <div class="row">
            <div class="col-sm-3">

                <div class="contact-form">

                    <div class="status alert alert-success" style="display: none"></div>

                    {% include "user_panel.html" %}
                    {% if messages %}
{% for message in messages %}
<div style="color: #d43f3a; font-size: medium">
	{{ message|safe }}
</div>
{% endfor %}
{% endif %}
                </div>
            </div>
            <div class="col-sm-9">
                <div class="contact-info">
                    <h2 class="title text-center">User Infarmation</h2>
                </div>
                <div class="content-section">
                    <div class="media">
                        <img src="{{ user.userprofile.image.url }}" style="height: 150px ; border-radius: 45px">
                    </div>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ user_form.as_p }}
                            {{ profile_form.as_p }}
                        </fieldset>
                        <div class="form-group">
                            <button class="btn btn-primary" type="submit">Update</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}