<div class="contact-info">

    <h2 class="title text-center">User Panel</h2>

    <div class="panel-body">
        <ul class="text-left">
            <li><a href="/user">User Profile </a></li>
            <li><a href="/user/myhomes">Yüklediklerim </a></li>
            <li><a href="/user/comments">My Comments </a></li>
            <li><a href="/product/">add products</a></li> <!--#bu direk producta gidiyo onun indexine-->
            <li><a href="/logout">Logout </a></li>
        </ul>
    </div>
</div>
